@import "tailwindcss";

html, body, #root {
	height: 100%;
}

body {
	background-color: #ecf0f1;
}

.input {
   @apply rounded-2xl h-8 border-1 border-gray-300 bg-gray-100 p-3 text-xs lg:text-base lg:h-10 md:text-[13px] md:h-9;
}

.enter-navigation-div {
   @apply border-b-2 w-[50%] flex justify-center hover:text-black text-sm lg:text-lg cursor-pointer;
}

.enter-btn {
   @apply text-sm text-white bg-[#00C9A7] w-[100%] h-8 rounded-2xl font-bold shadow mt-5 cursor-pointer hover:bg-[#00A88D] lg:text-base lg:h-10;
}

.enter-section {
   @apply mt-5 flex flex-col items-center;
}

.enter-form {
   @apply flex flex-col items-center w-[85%];
}

.form-inputs {
   @apply flex flex-col gap-3 lg:gap-5 w-[100%];
}

.modal-btn {
   @apply w-[100%] h-10 rounded-2xl font-bold mt-5 cursor-pointer;
}

.modal-img {
   @apply text-5xl;
}

.alternative-enter-img {
   @apply w-5 h-5 cursor-pointer;
}

.alternative-enter {
   @apply flex justify-center gap-2 mt-1;
}

.black-background {
   @apply fixed inset-0 bg-black/50 z-40;
}